a:hover {
    text-decoration:underline;
    cursor: pointer;
}
.dropdown-menu a:hover {
    color: var(--color-4); 
}
.nav-link{
    color: black;
}
.button:hover{
    background-color:var(--color-4);
}
.custom-title{
    font-family:fantasy;
    color: var(--color-1);
}
.nav-tabs:hover{
    color: var(--color-4)
}
.home-tab:hover,
.home-tab.active,
.home-tab:active{
    color: var(--color-4);
}
.budget-tab:hover{
    color: var(--color-4);
}
.account-tab:hover,
.account-tab.active
.account-tab:active{
    color: var(--color-4);
}
.nav-item dropdown:hover{
    color: var(--color-4)
}


