a:hover {
    text-decoration:underline;
    cursor: pointer;
}
.dropdown-menu a:hover {
    color: #007bff; 
}
.nav-link{
    color: #008347
}

/*.nav-item:hover{
    background-color: rgba(67, 241, 102, 0.808);
}*/


