.card-title {
    color: #008347
}
.card-body {
    border-radius: 20px;
    background-color:  #f8f9fa;
}
.card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #e0e0e0;
    transition: 0.3s ease;
    margin-top: 30px;
}

.account-card:hover {
    border-color: #008347;
    transform: scale(1.05);
}

.plus {
    background: #008347;
    height: 50px;
    position: relative;
    width: 4px;
    margin: 10px 31px;
}

.plus:after {
    background: #008347;
    content: "";
    height: 4px;
    left: -24px;
    position: absolute;
    top: 22px;
    width: 50px;
}

.outline {
    border: 2px solid #008347;
    width: 70px;
    border-radius: 100px;
}
