/*:root {
    --primary-color: #003056;
    --secondary-color: #04518C;
    --tertiary-color: #00A1D9;
    --quaternary-color: #47D9BF;
    --quinary-color: #F2D03B;
  }*/
  /*body {
    --color-1: #197278;
    --color-2: #125054;
    --color-3: #cdfcff;
    --color-4: #9af9ff;
    --color-5: #ffffff;
    --nav-color: var(--color-5);
    --nav-active: var(--color-3);
    font-family:fantasy;
}*/
  


