// override default variables

$primary: green;
$font-family-sans-serif: Times New Roman;
$headings-color:    black;
$border-color:   gray;

// import bootstrap
@import '~bootstrap/scss/bootstrap.scss'