// override default variables
$primary:  rgba(67, 241, 102, 0.726);
$font-family-sans-serif: Times New Roman;
$headings-color:    black;
$border-color:   gray;




// import bootstrap
@import '~bootstrap/scss/bootstrap.scss'