
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color:  rgba(67, 241, 102, 0.808);
}
.btn-outline-primary{
    border: 0px solid green;
    color: black;
    font-weight: 500;
    border-radius: 0%;
}

.btn-outline-primary:hover{
      background-color: rgba(67, 241, 102, 0.808);
}
.nav-item:hover{
    background-color: rgba(67, 241, 102, 0.808);
}


.offcanvas offcanvas-end text-bg-dark, .offcanvas-title{
    color: white;
}
.edit:hover, .delete:hover{
    background-color: gray;
}

.edit, .delete{
    border-width: 0.5px;
}

.edit{
    margin-right: 20px;
}
.btn-primary{
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar li.active {
    background-color:red;
}
a:hover {
    text-decoration:underline;
}