/*table style */
.table tbody tr:hover td,
.table tbody tr:hover th,
.table tbody tr:hover td button.delete {
    background-color:#6ad1d8;
    cursor: pointer;

}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #197278;
    color: #fff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f5f5;
}

.table-hover tbody tr:hover {
    background-color: #cce5ff;
}

.action-buttons button {
    margin-right: 5px;
}

.edit, .delete{
    border-width: 0px;
    text-decoration:underline;
    
}
.edit:hover, .delete:hover{
    color: white;
}

.btn-primary{
    background-color:#197278;
    border: #197278;
}
.btn-primary:hover {
    background-color:#6ad1d8;
  }